* {
    margin: 0;
    padding: 0;
    /* font-family: MyFont, Calibri, sans-serif; */
}


@font-face {
    font-family: "MyFont";
    src: url(./font/Zantroke.otf);
}

#root {
    height: 100vh;
}

body {
    background-color: rgb(107, 107, 107);
}

.main-container {
    height: 100%;
    background-position: center !important;
    background-size: 100% 100% !important;
}

#reset-button {
    color: red;
}

.display-name {
    color: rgb(255, 248, 49);
    font-size: 3rem;
    text-transform: uppercase;
    font-family: MyFont, Calibri, sans-serif;
    letter-spacing: 1rem;
}

.display-number {
    color: rgb(255, 118, 33);
    font-size: 2rem;
    font-family: MyFont, Calibri, sans-serif;
    letter-spacing: 0.5rem;
}

.display-first-number {
    font-size: 6rem;
    color: rgb(255, 255, 255);
}

.button-box {
    font-family: MyFont, Calibri, sans-serif !important;
}

.spin-button {

    width: 15%;
}

.text-box {
    display: inline !important;
    justify-content: center !important;
}

.lottery-container2 {
    position: absolute;

    width: 100%;
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    z-index: -1;
}

.ttt {
    border: 1px red solid;
}